doctype html
html.no-js(lang="ru-RU")
  include ../partials/head.jade
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    header.header
      include ../partials/header.jade

    .wrapper
      .wrapper__inner.clearfix
        include ../partials/sidebar.jade

        block content

  include ../partials/footer.jade
