doctype html
html.no-js(lang="ru-RU")
  include ../partials/head.jade
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    header.header
      include ../partials/header.jade

    .wrapper
      .wrapper__inner.clearfix
        include ../partials/sidebar.jade

        block content

    footer.footer.clearfix
      .footer__inner
        a.footer__login(href="#") Log In
        p.footer__copyright © 2015. Этой мой сайт, пожалуйста, копируйте его, если хотите :)

    //- JS
    script(src="js/vendor/jquery-1.11.2.min.js")
    script(src="js/main.js")
