doctype html
html.no-js(lang="ru-RU")
  head
    meta(charset="utf-8")
    meta(content="ie=edge", http-equiv="x-ua-compatible")
    block title
      title Никита Бученков
    meta(content="", name="description")
    meta(content="width=device-width, initial-scale=1", name="viewport")
    link(href="/css/normalize.css", rel="stylesheet")
    link(href="/css/main.css", rel="stylesheet")
    link(href="/css/stylesheet.css", rel="stylesheet")
    link(href="/css/fonts.css", rel="stylesheet")
    script(src="/js/vendor/modernizr-2.8.3.min.js")
  body
    <!--[if lt IE 7]>
    <p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
    <![endif]-->
    header.header
      include ../partials/header.jade

    .wrapper
      .wrapper__inner.clearfix
        include ../partials/sidebar.jade

        block content

    footer.footer.clearfix
      .footer__inner
        a.footer__login(href="#") Log In
        p.footer__copyright © 2015. Этой мой сайт, пожалуйста, копируйте его, если хотите :)

    //- JS
    script src="js/plugins.js"
    script src="js/main.js"
