extends ../layouts/main_layout.jade

block link
  -var selected = 'Связаться со мной';

block title
  title Обратная связь

block content
  .content__wrapper
    .feedback-title У Вас интересный проект? Напишите мне
    .content__inner--layout.clearfix
      form#contact-form
        //- .server-mes--error
        //- .server-mes--success
        .contact-form__row.clearfix
          .contact-form__group
            label.label(for='name') Имя
            input.input(type='text', name='name', placeholder='Как к вам обращаться', qtip-content='Вы не ввели имя')
          .contact-form__group
            label.label(for='email') Email
            input.input(type='email', name='email', placeholder='Куда мне писать', qtip-position='right', qtip-content='Вы не ввели email')
        .contact-form__textarea
          label.label(for='message') Сообщение
          textarea#message.textarea(name='message', rows='3', placeholder='Кратко в чем суть', qtip-content='Что вы от меня хотите?')
        .contact-form__captcha.clearfix
          label.label(for='captcha') Введите код, указанный на картинке
          .contact-form__captcha-box
            span.img-align-helper
            img.contact-form__captcha-img(src='img/captcha.png', alt='код')
          input.input.small(type='text', name='captcha', placeholder='Введите код', qtip-position='right', qtip-content='Вы не ввели код')
        .contact-form__buttons.clearfix
          button.btn.btn--blue(type='submit') Отправить
          button.btn.btn--gray(type='reset') Очистить
