extends ../layouts/main_layout.jade

block link
  -var selected = 'Связаться со мной';

block title
  title Обратная связь

block content
  .content__wrapper
    .feedback-title У Вас интересный проект? Напишите мне
    .content__inner--layout.clearfix
      | скоро сверстаю )
