.login-wrapper
  height: 485px
  width: 590px
  margin: 0 auto
  background: $gray-light
  text-align: center

.login-title
  @extend %blue-header
  font-size: 40px

#login-form
  padding: 25px

  .label
    font-size: 36px

.login-form__group
  margin-bottom: 20px
