// FONTS
$fira-sansbook: 'fira_sansbook', Arial, sans-serif
$fira-sanslight: 'fira_sanslight', Arial, sans-serif

// COLORS
$blue-darkest: #3ba8c0
$blue-dark: #41b9d4
$blue: #48cbe8
$blue-light: #51daf8
$blue-lightest: #edf8fc

$gray-dark: #687b8f
$gray: #849db5
$gray-light: #eff3f7

$gray-text: #959aa8

$red: #f97e76
$red-light: #fad2d1

.white-popup-block
  background: #FFF
  padding: 20px 30px
  text-align: left
  max-width: 650px
  margin: 40px auto
  position: relative

// SYSTEM
.success-message, .error-message
  display: none
  color: green
  border: 2px solid green
  font-weight: bold
  border-radius: 4px
  padding: 5px 10px

.error-message
  color: $red
  border-color: $red

// TOOLTIPS
.qtip.qtip-mystyle
  background: $red
  border-color: $red
  font-family: $fira-sansbook
  font-size: 13px
  color: white

input.has-error, textarea.has-error
  border-color: $red
  background: $red-light

  &::placeholder, &::-webkit-input-placeholder
    color: #8ab4c3


// BUTTONS
.btn
  background: $blue
  color: white
  width: 140px
  height: 33px
  line-height: 30px
  font-family: $fira-sansbook
  font-size: 19px
  border: none
  border-radius: 4px
  border-bottom: 2px solid $blue-darkest
  outline: none
  vertical-align: top

  &:hover
    border-bottom-color: $blue

  &:active
    border-top: 2px solid $blue-darkest
    border-bottom-color: $blue

.btn--blue
  background: $blue

.btn--gray
  background: $gray
  border-bottom: 2px solid $gray-dark

  &:hover
    border-bottom-color: $gray

  &:active
    border-top: 2px solid $gray-dark
    border-bottom-color: $gray

// ITEMS
%blue-header
  background: $blue
  position: relative
  height: 122px
  width: 650px
  display: table-cell
  vertical-align: middle
  text-align: center
  color: white
  font-family: $fira-sansbook
  font-size: 27px
  border-bottom: 16px solid $blue-light

  // &:before
  //   content: ""
  //   position: absolute
  //   height: 16px
  //   bottom: -16px
  //   left: 0
  //   width: 100%
  //   background: $blue-light
  //   // fix absolute position ::before
  //   margin-bottom: 16px

// FIX FOOTER for body
%footer-fix
  min-height:100%
  position:relative

// BLUE LINE placeholder
// выбрал css реализацию, так как она адаптивна
%blue-line
  content: ""
  position: absolute
  height: 3px
  width: 100%
  background: white
  background: -moz-linear-gradient(left, #ffffff -5%, #1b6479 50%, #ffffff 105%)
  background: -webkit-gradient(left top, right top, color-stop(-5%, #ffffff), color-stop(50%, #1b6479), color-stop(105%, #ffffff))
  background: -webkit-linear-gradient(left, #ffffff -5%, #1b6479 50%, #ffffff 105%)
  background: -o-linear-gradient(left, #ffffff -5%, #1b6479 50%, #ffffff 105%)
  background: -ms-linear-gradient(left, #ffffff -5%, #1b6479 50%, #ffffff 105%)
  background: linear-gradient(to right, #ffffff -5%, #1b6479 50%, #ffffff 105%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=1 )

// BORDER BOX
.input, .textarea, .wrapper, .wrapper__inner, .main-nav__link, .header__inner, .content__inner, .footer__inner, .contacts__item, .content__inner--layout, .add-new-button
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

// SOCIAL ICONS
.social-icons
  float: right
  margin-top: 18px

.social-icons__item
  display: inline-block
  margin-left: 20px
  &:first-child
    margin: 0

.vk, .fb, .tw, .gh
  background-image: url(../img/icons_social.png)
  background-repeat: no-repeat
  display: block
  width: 47px
  height: 47px
  line-height: 0
  font-size: 0
  color: transparent

.vk
  background-position: -50px -50px

.fb
  background-position: -197px -50px

.gh
  background-position: -344px -50px

.tw
  background-position: -491px -50px

.vk:hover
  background-position: -638px -50px

.fb:hover
  background-position: -785px -50px

.gh:hover
  background-position: -932px -50px

.tw:hover
  background-position: -1079px -50px
