footer.footer.clearfix
  .footer__inner
    a.footer__login(href="/login.html") Log In
    p.footer__copyright © 2015. Этой мой сайт, пожалуйста, копируйте его, если хотите :)


// bower:js
script(src='/bower/jquery/dist/jquery.js')
script(src='/bower/magnific-popup/dist/jquery.magnific-popup.js')
script(src='/bower/qtip2/jquery.qtip.js')
// endbower

//- JS
script(src="js/main.js")
script(src="js/validation.js")
script(src="js/contact-me.js")
script(src="js/login.js")
