head
  meta(charset="utf-8")
  meta(content="ie=edge", http-equiv="x-ua-compatible")
  block title
    title Никита Бученков
  meta(content="", name="description")
  meta(content="width=device-width, initial-scale=1", name="viewport")

  link(rel='icon', href='/favicon.ico')
  link(rel='shortcut icon', href='/favicon.ico')

  link(href="/css/main.css", rel="stylesheet")
  link(href="/css/stylesheets.css", rel="stylesheet")
  link(href="/css/fonts.css", rel="stylesheet")

  // bower:css
  link(rel='stylesheet', href='/bower/magnific-popup/dist/magnific-popup.css')
  link(rel='stylesheet', href='/bower/normalize.css/normalize.css')
  link(rel='stylesheet', href='/bower/qtip2/jquery.qtip.css')
  // endbower

  script(src="/js/vendor/modernizr-2.8.3.min.js")
