.header__inner.clearfix
  a.header__logo(href="/")
    img(alt="Никита Бученков", src="../img/logo_header.png")
    span.header__span сайт Никиты Бученкова
  ul.social-icons
    li.social-icons__item
      a.vk(href="#") vkontakte
    li.social-icons__item
      a.tw(href="#") twitter
    li.social-icons__item
      a.fb(href="#") facebook
    li.social-icons__item
      a.gh(href="#") github
